body {
    background-color: #111111;
    color: #c6c6c6;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200!important;
    font-size: 18px;
}

main {
     padding-left: 30px;
}

h1, h2, h3 {
    color: dodgerblue;
    font-weight: 200!important;
}

a {
    color: yellowgreen;
}