<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>IainPlimmerApi</title>
    <link href="~/resources/main.css" rel="stylesheet">
  </head>
  <body>    
    <main>
        @RenderBody()
    </main>
  </body>
</html>