<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>IainPlimmerApi</title>
    <link href="~/resources/css/main.css" rel="stylesheet">
    
    <!-- These would usually be bundled with Gulp or similar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>
    <script src="~/resources/app/application.js"></script>
    <script src="~/resources/app/services/svcblog.js"></script>
  </head>
  <body>    
    <main>
        @RenderBody()
    </main>
  </body>
</html>